body {
    background-color:rgb(105, 105, 173);


}

li{
    background-color:coral;
}
h2 {
    color:aquamarine;
    background-color: azure;
}
footer{
    background-color: rgb(78, 27, 121);
    color:white;
}
